name: CI

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  checks: write
  pull-requests: write

jobs:
  contracts:
    name: Contracts
    uses: multiversx/mx-sc-actions/.github/workflows/contracts.yml@fbaad46dcfe23b9e4f431c005788c7976b5f7fe6
    with:
      rust-toolchain: stable
      mx-scenario-go-version: v5.1.0
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
