name: CI

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  checks: write
  pull-requests: write

jobs:
  contracts:
    name: Contracts
    uses: multiversx/mx-sc-actions/.github/workflows/contracts.yml@ad6494a1873c838b7e0502020462b91715f402a4
    with:
      rust-toolchain: stable
      mx-scenario-go-version: v5.1.0
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
